*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-drag: none;
  user-select: none;
  scroll-behavior: smooth;
}

::selection {
  background: transparent;
}

::-moz-selection {
  background: transparent;
}

html {
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}

body {
  display: flex;
  width: 100vw;
  min-width: 100vw;
  max-width: 100vw;
  height: 100%;
  min-height: 100vh;
  max-height: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  padding: 0;
  place-items: center;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue";
  transition: color 0.5s, background-color 0.5s;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

:root {
  color-scheme: light dark;

  background-color: var(--background-color-solid-0);
  color: var(--text-color-solid-0);
  transition: all 0.01s ease;

  /* Background Color */
  --background-color-solid-0: rgb(255, 255, 255);
  --background-color-solid-50: rgb(250, 250, 250);
  --background-color-solid-100: rgb(245, 245, 245);
  --background-color-solid-150: rgb(240, 240, 240);
  --background-color-solid-200: rgb(235, 235, 235);
  --background-color-solid-250: rgb(230, 230, 230);
  --background-color-solid-300: rgb(225, 225, 225);
  --background-color-solid-350: rgb(220, 220, 220);
  --background-color-solid-400: rgb(215, 215, 215);
  --background-color-solid-500: rgb(210, 210, 210);

  /* Text Solid Color */
  --text-color-solid-0: rgb(0, 0, 0);
  --text-color-solid-50: rgb(3, 4, 4);
  --text-color-solid-100: rgb(7, 8, 9);
  --text-color-solid-150: rgb(11, 12, 14);
  --text-color-solid-200: rgb(15, 17, 18);
  --text-color-solid-250: rgb(19, 21, 23);
  --text-color-solid-300: rgb(22, 25, 27);
  --text-color-solid-350: rgb(24, 27, 29);
  --text-color-solid-400: rgb(26, 29, 32);
  --text-color-solid-450: rgb(27, 30, 34);
  --text-color-solid-500: rgb(28, 31, 35);
  --text-color-solid-550: rgb(29, 32, 36);
  --text-color-solid-600: rgb(32, 36, 40);
  --text-color-solid-700: rgb(36, 40, 45);
  --text-color-solid-800: rgb(40, 44, 50);
  --text-color-solid-900: rgb(45, 49, 55);
  --text-color-solid-1000: rgb(50, 55, 61);
  --text-color-solid-1100: rgb(55, 60, 67);

  /* Diver Solid Color */
  --diver-color-solid-0: rgba(0, 0, 0, 0.1);
  --diver-color-solid-100: rgba(10, 10, 10, 0.15);
  --diver-color-solid-150: rgba(20, 20, 20, 0.2);
  --diver-color-solid-200: rgba(30, 30, 30, 0.25);
  --diver-color-solid-250: rgba(40, 40, 40, 0.3);
  --diver-color-solid-300: rgba(50, 50, 50, 0.35);
  --diver-color-solid-350: rgba(60, 60, 60, 0.4);
  --diver-color-solid-400: rgba(70, 70, 70, 0.45);
  --diver-color-solid-450: rgba(80, 80, 80, 0.5);
  --diver-color-solid-500: rgba(28, 31, 35, 0.55);

  --primary-color: #031c37;
  --success-color: #4caf50;
  --danger-color: #f44336;
  --warning-color: #ffc107;
  --info-color: #016bf8;

  --primary-color-dark: #015cd2;
  --success-color-dark: #388e3c;
  --danger-color-dark: #c62828;
  --warning-color-dark: #ffa000;
  --info-color-dark: #004ba0;

  /* Start Sizing */
  --border-radius: 0.4rem;
  --border-radius-sm: 0.25rem;
  --border-radius-md: 0.5rem;
  --border-radius-lg: 1rem;
  --border-radius-xl: 1.25rem;
  --border-radius-2xl: 2rem;

  --spacing-unit: 1.25rem;
  --spacing-unit-sm: 0.5rem;
  --spacing-unit-md: 1.5rem;
  --spacing-unit-lg: 2rem;

  --font-size-Logo: 1.78rem;
  --font-size-base: 1.5rem;
  --font-size-lg: 1.25rem;
  --font-size-md: 1rem;
  --font-size-sm: 0.85rem;
  --font-size-xs: 0.75rem;

  /* Start Font Family */
  --font-family-sans: "Inter", sans-serif;
}

/* ================================================================================================== */
/* ==========================================  HEADING & TEXT  ====================================== */
/* ================================================================================================== */

/* Heading Styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-sans);
}

/* Heading Level 1 */
h1 {
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--text-color-solid-0);
}

/* Heading Level 2 */
h2 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-color-solid-0);
}

/* Heading Level 3 */
h3 {
  font-size: 1.75rem;
  font-weight: 500;
  color: var(--text-color-solid-0);
}

/* Heading Level 4 */
h4 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--text-color-solid-0);
}

/* Heading Level 5 */
h5 {
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--text-color-solid-0);
}

/* Heading Level 6 */
h6 {
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-color-solid-0);
}

a {
  outline: none;
  font-family: var(--font-family-sans);
  color: var(--text-color-solid-0);
  text-decoration: none;
  cursor: pointer;
}

/* Text Styles */
p {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--text-color-solid-0);
}

/* Span */
span {
  font-size: 1rem;
  color: var(--text-color-solid-0);
}

/* Strong */
strong {
  font-weight: bold;
  color: var(--text-color-solid-0);
}

/* Em */
em {
  font-style: italic;
  color: var(--text-color-solid-0);
}

/* B */
b {
  font-weight: bold;
}

/* I */
i {
  font-style: italic;
  color: var(--text-color-solid-0);
}

/* Mark */
mark {
  background-color: var(--text-color-solid-0);
  color: var(--gray-950);
}

/* Small */
small {
  font-size: 0.875rem;
}

/* Del */
del {
  text-decoration: line-through;
  color: var(--text-color-solid-500);
}

/* Ins */
ins {
  text-decoration: underline;
  color: var(--info-color);
}

/* Sub */
sub {
  font-size: 0.75rem;
  vertical-align: sub;
}

/* Sup */
sup {
  font-size: 0.75rem;
  vertical-align: super;
}

/* Blockquote */
blockquote {
  margin: 0;
  padding: 1rem;
  border-left: 4px solid var(--diver-color-solid-0);
  background-color: var(--background-color-solid-0);
  font-style: italic;
  color: var(--gray-50);
}

/* Cite */
cite {
  font-style: italic;
  color: var(--text-color-solid-500);
}

/* Code */
code {
  font-family: var(--font-family-sans);
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--diver-color-solid-0);
  color: var(--text-color-solid-0);
  padding: 0.5rem 1rem !important;
  border-radius: var(--border-radius);
}

/* Pre */
pre {
  font-family: var(--font-family-sans);
  background-color: var(--diver-color-solid-0);
  color: var(--text-color-solid-0);
  padding: 0.15rem 1rem;
  border-radius: var(--border-radius);
  overflow-x: auto;
}

/* ================================================================================================== */
/* =============================================  UL LI OL  ========================================= */
/* ================================================================================================== */

/* Unordered List (ul) */
ul {
  list-style-type: disc;
  margin: 0;
  padding: 0;
  color: var(--text-color-solid-0);
}

/* Ordered List (ol) */
ol {
  list-style-type: decimal;
  margin: 0;
  padding: 0;
  color: var(--text-color-solid-0);
}

/* List Items (li) */
li {
  line-height: 1.5;
}

/* Nested Lists */
ul ul,
ol ul,
ul ol,
ol ol {
  margin-left: 1.5rem;
}

/* Unordered List Styles */
ul {
  padding-left: 1.5rem;
}

ul.bullets-circle {
  list-style-type: circle;
}

ul.bullets-square {
  list-style-type: square;
}

ul.bullets-custom {
  list-style-type: none;
  padding-left: 1.5rem;
}

ul.bullets-custom li {
  position: relative;
  padding-left: 1.5rem;
}

ul.bullets-custom li::before {
  content: "\2022";
  color: var(--primary-color);
  font-size: 1.2rem;
  position: absolute;
  left: 0;
  top: 0;
}

/* Ordered List Styles */
ol {
  padding-left: 1.5rem;
}

ol.roman {
  list-style-type: upper-roman;
}

ol.lower-alpha {
  list-style-type: lower-alpha;
}

ol.lower-roman {
  list-style-type: lower-roman;
}

/* Custom List Styles */
ul.custom-list {
  list-style: none;
  padding: 0;
}

ul.custom-list li {
  position: relative;
  padding-left: 2rem;
}

ul.custom-list li::before {
  content: "✓";
  color: var(--success-color);
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.2rem;
}

/* Numbered List with Custom Styles */
ol.custom-numbered {
  list-style: none;
  padding: 0;
}

ol.custom-numbered li {
  position: relative;
  padding-left: 2rem;
}

ol.custom-numbered li::before {
  content: counter(list-item) ". ";
  counter-increment: list-item;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.2rem;
  color: var(--info-color);
}
